<div id="container-exp">
	<div id="trial">
      <p id="scenario"></p>
      <p id="description"></p>
      <hr>
      <p id="question"></p>
    </div>

    <div id="center">
      <table>
        <tbody>
          <tr id="sliders">
            <td class="description" height="80" width="150">Extremely Likely</td>

            <!--This is one slider bar; rest is constructed in task.js-->
            <td class="slider-toclone" rowspan="5" width="100" align="center">
              <div class="slider ui-slider ui-slider-vertical ui-widget ui-widget-content
               ui-corner-all" id="slider-clone" width="12px" height="360px" position="relative"
               margin="5px" aria-disabled="false">
               <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 50%;"></a>
             </div>
            </td>

          </tr>

          <tr><td class="description" height="72">Very Likely</td></tr>
          <tr><td class="description" height="72">Neutral</td></tr>
          <tr><td class="description" height="72">Not Very Likely</td></tr>
          <tr><td class="description" height="72">Extremely Unlikely</td></tr>

          <!--This is the answer-->
          <tr id="bins">
            <td width="150"></td>
            <td id="bin0" align="center" width="100"></td>
            <td id="bin1" align="center" width="100"></td>
            <td id="bin2" align="center" width="100"></td>
            <td id="bin3" align="center" width="100"></td>
            <td id="bin4" align="center" width="100"></td>
            <td id="bin5" align="center" width="100"></td>
            <td id="bin6" align="center" width="100"></td>
            <td id="bin7" align="center" width="100"></td>
            <td id="bin8" align="center" width="100"></td>
            <td id="bin9" align="center" width="100"></td>
            <td id="bin10" align="center" width="100"></td>
            <td id="bin11" align="center" width="100"></td>
            <td id="bin12" align="center" width="100"></td>
            <td id="bin13" align="center" width="100"></td>
            <td id="bin14" align="center" width="100"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>
    <div class="wrap-button"><button id="answered">Next</button></div>
</div>
