<div id="container-instructions">

    <h1>Instruction</h1>
    <hr>

    <div class="instructions well">

        <p>
        You will be shown 28 descriptions that involve a quantity of some sort
            (body length, speed, prize, duration etc.). We are interested in your intuitive
        estimate of that quantity given the description. <b>For each case, we will show you 15 intervals. Please
        select the interval for which you think that the quantity is in.</b>
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin Experiment
	                </button>
	            </center>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
</div>
