  <script type="text/javascript">
    function updateTextInput(val) {
      document.getElementById('textInput').value=val; 
    }
  </script>

<div id="container-exp">
  <div align="center">
    <div style="width:864px;">
      <div align="left">
        <p></p>
        <p id="scenario"></p>
        <p style="color:gray">How would you interpret the following descriptions?</p>
      </div>    
    </div>    
  </div>

  <hr>
  
  <div id = "item1">
  </div>
  
  <hr>
  
  <div id = "item2">
  </div>
  
  <hr>
  
  <div id = "item3">
  </div>
  
  <hr>
  
  <div id = "item4">
  </div>
  
    <hr>
  
  <div id = "item5">
  </div>
  
    <hr>
  
  <div id = "item6">
  </div>
  
    <hr>
  
  <div id = "item7">
  </div>

  
  <hr>
    <div class="wrap-button"><button id="answered">Next</button></div>
      <p>
        <div align = "center">
          <p id = "statusBar"></p>
        </div>
</div>
