<div id="container-instructions">

    <h1>Instructions</h1>
    <hr>

    <div class="instructions well">

        <p>
        In this experiment, you will be shown six descriptions that involve a quantity of some sort
            (speed, price, duration, etc.). We are interested in your intuitive
        guess about that quantity, once you have read the description.
      </p>
      <p>Some of the descriptions may sound more or less natural: please try to give your best guess anyway. After you have made a guess, we will also ask you to rate 
          how natural the description sounds to you.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin Experiment
	                </button>
	            </center>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
</div>
