  <script type="text/javascript">
    function updateTextInput(val) {
      document.getElementById('textInput').value=val; 
    }
  </script>

<div id="container-exp">
	<div id="trial">
      <p id="scenario"></p>
      <p id="description"></p>
    <p> &nbsp; </p>
      <hr>
    <p> &nbsp; </p>
      <p id="question"></p>
    </div>

  <div align="center" >
    <div style="width:864px;">
          <span>
            <form name="answerForm">
              <span id = "answerSliderSpan"></span>  
            <output name="OutputName" id="OutputId">0 </output> <output><span id = "unitMeasure"></span></output>
            </form>
          </span>
        </div>
    </div>

  <p> &nbsp; </p>
  
  <p>  <p> <hr> <p> <p> &nbsp; </p> <p> <p>
  
    <div align="center" >
    <div style="width:864px;">

      <div id="trial">
      <p id="naturalness"></p>
    </div>
      
      <table border="0" style="width:100%">
  <tr>
    <td align = "center"> totally unnatural </td>
    <td><input type="radio" name="naturalAnswer" id = "radios" value="1" /></td>
    <td> &nbsp; &nbsp; &nbsp; </td>
    <td><input type="radio" name="naturalAnswer" id = "radios" value="2" /></td>
    <td> &nbsp; &nbsp; &nbsp; </td>
    <td><input type="radio" name="naturalAnswer" id = "radios" value="3" /></td>
    <td> &nbsp; &nbsp; &nbsp; </td>
    <td><input type="radio" name="naturalAnswer" id = "radios" value="4" /></td>
    <td> &nbsp; &nbsp; &nbsp; </td>
    <td><input type="radio" name="naturalAnswer" id = "radios" value="5" /></td>
    <td> &nbsp; &nbsp; &nbsp; </td>
    <td><input type="radio" name="naturalAnswer" id = "radios" value="6" /></td>
    <td> &nbsp; &nbsp; &nbsp; </td>
    <td><input type="radio" name="naturalAnswer" id = "radios" value="7" /></td>
    <td> &nbsp; &nbsp; </td>
    <td> totally natural </td>
  </tr>
</table>
      
      </p>  
  </div>
  </div>
  
<p> &nbsp; </p>
  
  
    <p> <hr>
    <div class="wrap-button"><button id="answered">Next</button></div>
  <p>
    <div align = "center">
      <p id = "statusBar"></p>
    </div>
</div>
